<h1>
Preencha todos os campos a seguir
</h1>

<%if @job.errors.any?%>
  <%@job.errors.each do |error|%>
    <dt><%=error.full_message%></dt>
  <%end%>
<%end%>

<%=form_with model: [:employees, @job] do |f|%>
  <div>
  <%=f.label :title%>
  <%=f.text_field :title%>
  </div>
  <div>
  <%=f.label :description%>
  <%=f.text_field :description%>
  </div>
  <div>
  <%=f.label :pay_scale%>
  <%=f.text_field :pay_scale%>
  </div>
  <div>
  <%=f.label :level%>
  <%=f.text_field :level%>
  </div>
  <div>
  <%=f.label :requirements%>
  <%=f.text_field :requirements%>
  </div>
  <div>
  <%=f.label :expiration_date%>
  <%=f.text_field :expiration_date%>
  </div>
  <div>
  <%=f.label :job_openings%>
  <%=f.text_field :job_openings%>
  </div>
  <<%=f.submit%>
<%end%>

<div><%=link_to 'Voltar', employees_job_path(@job)%></div>