<h1><%=@company.name%> <%=@opened%></h1>

<% if @jobs == [] %>
  <h2 class='menssage' id='without' >
  Sem anúncio de vaga
  </h2>
<% else %>
  <div class='job' id='info'>
    <%@jobs.each do |job| %>
      <% if job.expiration_date < Time.now.to_date%>
        <dt>Prazo para candidatura expirado</dt>
      <% end %>
      <dt>
      <% if job.disabled? %>
        <%='[Desabilitado]'%>
      <% end %>
      <%=@title%>: 
      <%=link_to job.title, employees_company_job_path(job.company, job)%>
      </dt>
      <dt><%=@level%>: <%=job.levels.first.name%></dt>
      <dt><%=@requirements%>: <%=job.requirements%></dt>
      <dt><%=@expiration_date%>: <%=localize job.expiration_date%></dt>
      <hr>
      <br>
    <% end %>
  </div>  
<% end %>
<dt><%=link_to 'Voltar', employees_company_path(@company)%></dt>

