<h1><%=@company.name%> <%=@opened%></h1>

<% if @jobs == [] %>
  <h2 class='menssage' id='without' >
  Sem anúncio de vaga
  </h2>
<% else %>
  <div class='job' id='info'>
    <%@jobs.each do |job| %>
      <dt>
      <% if job.disabled? %>
        <%='[Desabilitado]'%>
      <% end %>
      <%=job.job_attributes(0)%>: 
      <%=link_to job.title, employees_company_job_path(job.company, job)%>
      </dt>
      <dt><%=@level%>: <%=job.levels.first.name%></dt>
      <dt><%=job.job_attributes(3)%>: <%=job.requirements%></dt>
      <dt><%=job.job_attributes(4)%>: <%=localize job.expiration_date%></dt>
      <hr>
    <% end %>
  </div>  
<% end %>
<dt><%=link_to 'Voltar', employees_company_path(@company)%></dt>

