<h1><%=@job.company.name%></h1>

<div class='model' id='job'>
<% if @job.expiration_date < Time.now.to_date%>
  <dt>Prazo para candidatura expirado</dt>
<% end %>
<dt>
<% if @job.disabled? %>
  <%='[Desabilitado]'%>
<% end %>
<%=@title%>: <%=@job.title%>
</dt>
<dt><%=@description%>: <%=@job.description%></dt>
<dt><%=@level%>: <%=@job.levels.first.name%></dt>
<dt><%=@requirements%>: <%=@job.requirements%></dt>
<dt><%=@job_openings%>: <%=@job.job_openings%></dt>
<dt><%=@expiration_date%>: <%=localize @job.expiration_date%></dt>
<dt><%=@pay_scale%>: <%=@job.pay_scale%></dt>
<%=link_to 'Deletar Vaga', employees_job_path(@job), method: :delete,

data:{confirm: "Tem certeza que quer apagar?"}%>
<%=link_to 'Editar Vaga', edit_employees_job_path(@job)%>
<% if @job.disabled?%>
  <%=link_to 'Ativar Vaga', job_enable_employees_job_path(@job), method: :post%> 
<% else %>
  <%=link_to 'Desativar Vaga', job_disable_employees_job_path(@job), method: :post,
  data: {confirm: 'Tem certeza que quer deletar a vaga?'}%> 
<% end %>
</div>

<br><%=link_to 'Voltar', employees_company_jobs_path(@company.id)%>