<header class='profile' id='picture'>

<% if @job_seeker.profile_picture.attached? %>
  <dt><%=image_tag @job_seeker.profile_picture%></dt>
  <br>

  <dt>
  <%=link_to 'Trocar a foto', edit_profile_picture_job_seeker_path(@job_seeker)%>
  <%=link_to 'Tirar a foto', destroy_profile_picture_job_seeker_path(@job_seeker), 
  method: :delete, data: {confirm: "Tem certeza?"}%>
  </dt><br>
<% else %>
  <dt>
  <%=link_to 'Colocar Foto', new_profile_picture_job_seeker_path(@job_seeker)%>  
  </dt>
<% end %>
</header>

<h1 class='profile' id='name'><%=@job_seeker.social_name%></h1>

<div class='profile' id='body'>
   <dt><%=@job_seeker.job_seeker_attributes(3)%>: <%=@job_seeker.cpf%></dt><br>
   <dt><%=@job_seeker.job_seeker_attributes(0)%>: <%=@job_seeker.email%></dt><br>
   <dt><%=@job_seeker.job_seeker_attributes(4)%>: <%=@job_seeker.phone%></dt><br>
   <dt><%=@job_seeker.job_seeker_attributes(5)%></dt><br>
   <dt><%=@job_seeker.cv%></dt><br>
   <dt><%=link_to 'Alterar informações', edit_job_seeker_path(@job_seeker)%></dt>
</div><br>
<dt><%=link_to 'Voltar', root_path%></dt>