<h1>Vagas Abertas</h1> 

<%if @jobs%>
  <h2>Sem anúncio de vaga</h2>
<%end%>

<%@jobs.each do |job| %>
  <P>
  <h3><%=link_to job.title, job_path(job)%> (ver detalhes)</h3> 
  <div><%=@job_attributes[1]%>: <%= job.level%></div>
  <div><%=@job_attributes[2]%>: <%=job.requirements%></div>
  <div><%=@job_attributes[4]%>: <%= localize job.expiration_date%></div>
  </P>
  <hr>
<% end %>

<div><%=link_to 'Anuncie sua vaga', new_job_path%></div>

<p>
<div><%=link_to 'Voltar', root_path%></div>
</p>