<h1>Vagas Abertas</h1> 

<h2 class='header' id='without'>
<%flash.each do |msg|%>
  <div><%=msg%></div>
<%end%>
<%if @jobs == []%>
  <div class=> Sem anúncio de vaga <div>
<%end%>
</h2>
<div class='divison' id='info'>
<%@jobs.each do |job|%>
  <dt class='header' id='Job'><%=@company%>: <%=link_to job.company.name, company_path(job.company)%></dt>
  <dt class='line' id='first'><%=@title%>: <%=link_to job.title, job_path(job)%>(ver detalhes)</dt>
  <dt class='line' id='second'><%=@level%>: <%= job.levels.first.name%></dt>
  <dt class='line' id='third'><%=@requirements%>: <%=job.requirements%></dt>
  <dt class='line' id='forth'><%=@expiration_date%>: <%= localize job.expiration_date%></dt>
<%end%>
</div>
<p>
<div><%=link_to 'Voltar', root_path%></div>
</p>