<h1>Vagas Abertas</h1> 

<h2 class='header' id='without'>
<%flash.each do |msg|%>
  <div><%=msg%></div>
<%end%>
<%if @jobs == []%>
  <div class=> Sem anúncio de vaga <div>
<%end%>
</h2>

<%@jobs.each do |job|%>
  <div class='divison' id='info' >
  <h2 class='header' id='Job'><%=link_to job.title, job_path(job)%>(ver detalhes)</h2>
  <dt class='line' id='first'><%=job.job_attributes(3)%>: <%= job.level%></dt>
  <dt class='line' id='second'><%=job.job_attributes(4)%>: <%=job.requirements%></dt>
  <dt class='line' id='third'><%=job.job_attributes(5)%>: <%= localize job.expiration_date%></dt>
  </div>
<%end%>

<p>
<div><%=link_to 'Voltar', root_path%></div>
</p>