<h1>
<%=@job.company.name%>
</h1>

<div class='block' id='job'>
<% if job_seeker_signed_in? %>
  <% if current_job_seeker.applied_to?(@job) %>
    <dt>Já está candidatado</dt><br>  
  <% end %>  
<% end %>
<dt><%=@title%>: <%=@job.title%></dt>
<dt><%=@description%>: <%=@job.description%></dt>
<dt><%=@level%>: <%=@job.levels.first.name%></dt>
<dt><%=@requirements%>: <%=@job.requirements%></dt>
<dt><%=@job_openings%>: <%=@job.job_openings%></dt>
<dt><%=@expiration_date%>: <%=localize @job.expiration_date%></dt>
<dt><%=@pay_scale%>: <%=@job.pay_scale%></dt>
<% if job_seeker_signed_in? %>
  <% if current_job_seeker.applied_to?(@job)%>
    <dt><%=link_to 'Cancelar candidatura', unapply_to_job_path(@job), method: :post%>
  <% else %>
    <dt><%=link_to 'Candidatar-se a vaga', apply_to_job_path(@job), method: :post%>
  <% end %>
<% else %>
  <dt><%=link_to 'Candidatar-se a vaga', apply_to_job_path(@job), method: :post%>
<% end %>
</div>

<br><%=link_to 'Voltar', jobs_path%>