<h1>
<%=@job.title%>
</h1>
<p>
<div><%=@job.job_attributes(1)%>: <%=@job.description%></div>
<div><%=@job.job_attributes(3)%>: <%=@job.level%></div>
<div><%=@job.job_attributes(4)%>: <%=@job.requirements%>
<div><%=@job.job_attributes(6)%>: <%=@job.job_openings%></div>
<div><%=@job.job_attributes(5)%>: <%=localize @job.expiration_date%></div>
<div><%=@job.job_attributes(2)%>: <%=@job.pay_scale%></div>
<div><%=link_to 'Editar Vaga', edit_job_path%></div>
</p>

<p>
<div><%=link_to 'Voltar', jobs_path%></div>
</p>