<h1>
<%=@job.title%>
</h1>
<p>
<div>
<%=Job.human_attribute_name("job.description")%>: <%=@job.description%>
<%=Job.human_attribute_name("job.level")%>: <%=@job.level%>
</div>
<div>
<%=Job.human_attribute_name("job.requirements")%>: <%=@job.requirements%>
<%=Job.human_attribute_name("job.job_openings")%>: <%=@job.job_openings%>
</div>
<div>
<%=Job.human_attribute_name("job.expiration_date")%>: <%=localize @job.expiration_date%>
<%=Job.human_attribute_name("job.pay_scale")%>: <%=@job.pay_scale%>
</div>
</p>