<h1>
<%=@job.title%>
</h1>
<p>
<div><%=@job_attributes[0]%>: <%=@job.description%></div>
<div><%=@job_attributes[1]%>: <%=@job.level%></div>
<div><%=@job_attributes[2]%>: <%=@job.requirements%>
<div><%=@job_attributes[3]%>: <%=@job.job_openings%></div>
<div><%=@job_attributes[4]%>: <%=localize @job.expiration_date%></div>
<div><%=@job_attributes[5]%>: <%=@job.pay_scale%></div>
</p>

<p>
<div><%=link_to 'Voltar', jobs_path%></div>
</p>