<header class='profile' id='picture'>

<% if @job_seeker.profile_picture.attached? %>
  <dt><%=image_tag @job_seeker.profile_picture%></dt>
  <br>
<% end %>
</header>

<header class='profile' id='pendi'>Pendente de avaliação</header>
<h1 class='profile' id='name'><%=@job_seeker.social_name%></h1>

<div class='profile' id='body'>
   <dt><%=@cpf%>: <%=@job_seeker.cpf%></dt><br>
   <dt><%=@email%>: <%=@job_seeker.email%></dt><br>
   <dt><%=@phone%>: <%=@job_seeker.phone%></dt><br>
   <dt><%=@cv%></dt><br>
   <dt><%=@job_seeker.cv%></dt><br>
</div>

<h1 class='jobs' id='header'><%="Vagas que está concorrendo"%></h1>

<div class='jobs' id='informations'>
  <%@job_seeker.jobs.each do |job|%>
    <dt><%=@title%>: <%=link_to job.title, employees_company_job_path(job.company, job)%><dt> 
    <dt><%=@level%>: <%=job.levels.first.name%><dt><br> 
  <% end %> 
</div><br>
<dt><%=link_to 'Voltar', employees_company_job_seekers_path(current_employee.company)%></dt>