<h1>
Formulário de Cadastro da Empresa
</h1>

<%=form_with model: @company do |f|%>
  <div>
  <%=f.label :name%>
  <%=f.text_field :name%>
  </div>

  <div>
  <%=f.label :company_picture%>
  <%=f.file_field :company_picture%>
  </div>

  <div>
  <%=f.label :cnpj%>
  <%=f.text_field :cnpj%>
  </div>

  <div>
  <%=f.label :site%>
  <%=f.text_field :site%>
  </div>

  <div>
  <%=f.label :company_history%>
  <%=f.text_field :company_history%>
  </div>
  <%=f.fields_for :company_address  do |company_address_form|%>
    <div>
    <%=company_address_form.label :public_place%>
    <%=company_address_form.text_field :public_place%>
    </div>

    <div>
    <%=company_address_form.label :district%>
    <%=company_address_form.text_field :district%>
    </div>

    <div>
    <%=company_address_form.label :city%>
    <%=company_address_form.text_field :city%>
    </div>

    <div>
    <%=company_address_form.label :zip_code%>
    <%=company_address_form.text_field :zip_code%>
    </div>

  <%end%>
  <%n = 0%>
  <%=f.fields_for :company_social_webs do |company_social_web_form|%>
    <%n += 1%>
    <div>
    <%=company_social_web_form.label :address_web, "Rede Social #{n}"%>
    <%=company_social_web_form.text_field :address_web%>
    </div>
  <%end%>

  <div><%=f.submit%></div>
<%end%>